.topheader{
    position: sticky;
    background-color: var(--theme-color);
    left: 0;
    top: 0;
    width: 100%;
    z-index: 50;
    box-shadow: 10px 30px 50px var(--navbar-color);
    border-color: var(--navbar-color);
    border-style: solid;
    transition: 2s;
}

topheader.abajo{
    background: aqua;
}

.topnav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    max-width: 1920px;
    margin: 0 auto;
    background-color: var(--navbar-color);
    }

topnav.abajo{
    background-color: aqua;
}

    nav ul{
        display: flex;
        justify-content: left;
        list-style: none;
    }

    nav ul li {
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 5px;
        font-size: medium;
        font-family: Arial, Helvetica, sans-serif;
        transition: 4s;
    }

/* Logo */

.logo{
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    color: var(--primary-color);
    transition: 2s;
}

.logo img{
    border-radius: 50%;
    }

/* Menu */
.menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    text-align: center;
    }

.menu li{
    padding: 0 10px;
    min-width: max-content;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    }

.menu a{
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 0px;
    text-transform: uppercase;
}

.menu a:hover{
    color: var(--primary-color);
    filter: brightness(150%);
}

/* .zona1{
    position: relative;
    width: 100%;
    height: 100vh;
} */

header.abajo .logo,
header.abajo nav ul li {
    color: aquamarine;
    background-color: var(--theme-color);
}

